[Container]
Image=docker.io/caddy:latest
ContainerName=caddy
AutoUpdate=registry
#Notify=true
LogDriver=journald
PublishPort=7443:443
PublishPort=7080:80
Volume=/home/suserunpi/config/caddy/Caddyfile:/etc/caddy/Caddyfile:ro,Z
#Volume=/path/to/site:/srv:z
Volume=caddy-data:/data:Z
Volume=caddy-config:/config:Z
Network=caddynet.network



[Service]
Restart=on-success

[Install]
WantedBy=default.target
[Unit]
After=network-online.target

