# pihole.container

[Container]
ContainerName=pihole
# Please adjust the password and ip address as you need, also please make sure same IP is assigned to the host always
Environment=TZ=Europe/Berlin WEBPASSWORD=a_random_password FTLCONF_LOCAL_IPV4=192.168.2.48 VIRTUAL_HOST=pi.hole
Image=pihole/pihole:latest
PublishPort=5380:80
PublishPort=53:53/tcp
PublishPort=53:53/udp
Volume=pihole:/etc/pihole
Volume=dnsmasq:/etc/dnsmasq.d

[Service]
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target